Source: nemo-hide
Section: gnome
Priority: extra
Maintainer: Emmanuel C. <>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: nemo-hide
Architecture: all
Depends: ${misc:Depends}, nemo (>= 1), python-nemo (>= 1.0)
Description: Context menu hide extension for Nemo file manager. Simple context menu file hidding extension for Nemo 2.4 and above. Hidding is performed by the use of a .hidden file enabling hidding of files and folders without renaming them.
